COMPOSE_PROJECT_NAME=

WORDPRESS_VERSION=6.9.4
PHP_VERSION=8.3
WORDPRESS_PORT=8080
WORDPRESS_HOST=localhost
WORDPRESS_URL=http://localhost:8080
WORDPRESS_TITLE=WooCommerce Plugin Dev
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=password
WORDPRESS_ADMIN_EMAIL=admin@example.test
WORDPRESS_LOCALE=en_US

WOOCOMMERCE_VERSION=10.7.0

MARIADB_VERSION=11.8.6
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
MYSQL_ROOT_PASSWORD=wordpress-root

ADMINER_PORT=8081
MAILPIT_WEB_PORT=8025
MAILPIT_SMTP_PORT=1025

PLUGIN_SLUG=woo-dev-template
FIXTURE_PROFILE=rich
